.janela {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8ydHQBi7JphiHnwzy9_UZAE8NCUP8Bv6lVw&usqp=CAU");
    cursor: pointer;
  }
  
  .janela.fechada {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8ydHQBi7JphiHnwzy9_UZAE8NCUP8Bv6lVw&usqp=CAU");
  }
  
  .janela.aberta{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS91J9qjtOqOPde_162ul7-v8QCijTZMjcP1UaK5BKGkJmXCRjT3PYTws3YKvHgZMVDTi4&usqp=CAU");
  }
  
  .janela.quebrada {
    background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p1/14916297-plano-isolado-de-icone-de-janela-quebrada-vetor.jpg");
  }
  